*{
    margin: 0;
    box-sizing: border-box;
}
.main{
    position: relative;
    margin-top: 100px;
    left: 1080px;
    top: -145px;
    border-style: solid;
    border: 2px solid purple;
    height:2ch;
    width:2ch;
    border-radius: 100px;
    width: 100px;
    height: 20px;;
    font-size:77%;
    text-align: center;

}