*{
    margin: 20;
    box-sizing: content-box;
}
.sign-up{
    position: relative;
    margin-top: 100px;
    left: 1200px;
    top: -265px;
    border-style: solid;
    border: 2.5px;
    height: 2ch;
    width: 2ch;
    border-radius: 30px;
    width:100px;
    height:20px;
    background-color:rgb(133, 4, 189);
    color: white;
    font-size: 75%;
    text-align: center;
}